@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Locations";
}
<div class="bgis">
    <div class="bgc bgs">
        <div id="introBox">Canberra Restaurants</div>
        <div id="quote"><h1 class="niccone">Locations</h1></div>
    </div>
</div>
<!--Add your HTML elements to the blank lines below-->
<div id="googleMap"></div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCea8cMHcWNEaLZec4PzKOCadIGMi4u6xM"></script>